name: Build & Push Docker Image

on:
  push:
    branches:
      - main
      - dev
      - prod

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3.3.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      
      - name: Set Docker tags based on branch
        id: docker-tags
        run: |
          if [ "${GITHUB_REF##*/}" == "main" ]; then
            echo "TAGS=${{ secrets.DOCKER_USERNAME }}/rideshare:latest,${{ secrets.DOCKER_USERNAME }}/rideshare:${GITHUB_SHA}" >> $GITHUB_ENV
          elif [ "${GITHUB_REF##*/}" == "dev" ]; then
            echo "TAGS=${{ secrets.DOCKER_USERNAME }}/rideshare:dev,${{ secrets.DOCKER_USERNAME }}/rideshare:dev-${GITHUB_SHA}" >> $GITHUB_ENV
          elif [ "${GITHUB_REF##*/}" == "prod" ]; then
            echo "TAGS=${{ secrets.DOCKER_USERNAME }}/rideshare:prod,${{ secrets.DOCKER_USERNAME }}/rideshare:prod-${GITHUB_SHA}" >> $GITHUB_ENV
          else
            echo "TAGS=${{ secrets.DOCKER_USERNAME }}/rideshare:${GITHUB_SHA}" >> $GITHUB_ENV
          fi
          echo "Docker tags set to: $TAGS"

      - name: Build and push Docker image
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          push: true
          tags: ${{ env.TAGS }}
